In [51]:
import pandas as pd

d=pd.read_excel("/home/ubuntu/TCOB35/DSBDAL/data.xlsx")
print(d)

    Sr.\nno. Roll No               Name of the Student  DM   FDS OOP  CG DELD  \
0          1  SCOA01                     ALISHA SHEIKH  24  27.0  20  15   16
1          2  SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9.0   9  AB   AB
2          3  SCOA03                SHELAR NEHA NILESH  20  23.0  16  15   15
3          4  SCOA04                       RIYA JAWALE  18  14.0  11   8   15
4          5  SCOA05             NARHE VARSHA RAOSAHEB  20  24.0  16  24   20
5          6  SCOA06           BHUTDA MAHESH SHANTILAL  20   9.0  AB   0   AB
6          7  SCOA07              JAGTAP HARISH YUVRAJ  22  18.0   3  16    7
7          8  SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20.0  19  16   23
8          9  SCOA09              DARWEY RUDRA GUNWANT  22  12.0   9  15    7
9         10  SCOA10                ERANDE TEJAS DIPAK  24  18.0  11  23   AB
10        11  SCOA11             TRIPATHI VIKALP VIKAS  18  13.0   7  18   10
11        12  SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23.0  24  21   AB
12        13  SCOA13              MUNGASE SARTHAK ANIL  16  24.0  12  29   AB
13        14  SCOA14                 GOYAL SURAJ MANOJ  16  19.0   9  13   10
14        15  SCOA15              DHAWNE DEVANG GANESH  18  21.0  12  12   13
15        16  SCOA16              SHELKE GAURAV GIRISH  20  19.0  12   9   16
16        17  SCOA17           KHATAL NANDINI RAJENDRA  12   NaN   5   7   AB
17        18  SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24.0  19  28   17
18        19  SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23.0   7  14   14
19        20  SCOA20                VIDULA VIKAS PATIL  20  24.0  16  26   20
20        21  SCOA21           BHONGALE OMKAR MADHUKAR  22  17.0  19  10   13

   Gender
0       F
1       M
2       F
3       F
4       F
5       M
6       M
7       F
8       M
9       M
10      M
11      M
12      M
13      M
14      M
15      M
16      F
17      F
18      F
19      F
20      M

In [52]:
import numpy as np

r = d.replace(to_replace=np.nan , value=2)
print(r)

    Sr.\nno. Roll No               Name of the Student  DM   FDS OOP  CG DELD  \
0          1  SCOA01                     ALISHA SHEIKH  24  27.0  20  15   16
1          2  SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9.0   9  AB   AB
2          3  SCOA03                SHELAR NEHA NILESH  20  23.0  16  15   15
3          4  SCOA04                       RIYA JAWALE  18  14.0  11   8   15
4          5  SCOA05             NARHE VARSHA RAOSAHEB  20  24.0  16  24   20
5          6  SCOA06           BHUTDA MAHESH SHANTILAL  20   9.0  AB   0   AB
6          7  SCOA07              JAGTAP HARISH YUVRAJ  22  18.0   3  16    7
7          8  SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20.0  19  16   23
8          9  SCOA09              DARWEY RUDRA GUNWANT  22  12.0   9  15    7
9         10  SCOA10                ERANDE TEJAS DIPAK  24  18.0  11  23   AB
10        11  SCOA11             TRIPATHI VIKALP VIKAS  18  13.0   7  18   10
11        12  SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23.0  24  21   AB
12        13  SCOA13              MUNGASE SARTHAK ANIL  16  24.0  12  29   AB
13        14  SCOA14                 GOYAL SURAJ MANOJ  16  19.0   9  13   10
14        15  SCOA15              DHAWNE DEVANG GANESH  18  21.0  12  12   13
15        16  SCOA16              SHELKE GAURAV GIRISH  20  19.0  12   9   16
16        17  SCOA17           KHATAL NANDINI RAJENDRA  12   2.0   5   7   AB
17        18  SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24.0  19  28   17
18        19  SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23.0   7  14   14
19        20  SCOA20                VIDULA VIKAS PATIL  20  24.0  16  26   20
20        21  SCOA21           BHONGALE OMKAR MADHUKAR  22  17.0  19  10   13

   Gender
0       F
1       M
2       F
3       F
4       F
5       M
6       M
7       F
8       M
9       M
10      M
11      M
12      M
13      M
14      M
15      M
16      F
17      F
18      F
19      F
20      M

In [53]:
d['Gender'] = d['Gender'].map({'M': 0, 'F': 1})
print(d)

    Sr.\nno. Roll No               Name of the Student  DM   FDS OOP  CG DELD  \
0          1  SCOA01                     ALISHA SHEIKH  24  27.0  20  15   16
1          2  SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9.0   9  AB   AB
2          3  SCOA03                SHELAR NEHA NILESH  20  23.0  16  15   15
3          4  SCOA04                       RIYA JAWALE  18  14.0  11   8   15
4          5  SCOA05             NARHE VARSHA RAOSAHEB  20  24.0  16  24   20
5          6  SCOA06           BHUTDA MAHESH SHANTILAL  20   9.0  AB   0   AB
6          7  SCOA07              JAGTAP HARISH YUVRAJ  22  18.0   3  16    7
7          8  SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20.0  19  16   23
8          9  SCOA09              DARWEY RUDRA GUNWANT  22  12.0   9  15    7
9         10  SCOA10                ERANDE TEJAS DIPAK  24  18.0  11  23   AB
10        11  SCOA11             TRIPATHI VIKALP VIKAS  18  13.0   7  18   10
11        12  SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23.0  24  21   AB
12        13  SCOA13              MUNGASE SARTHAK ANIL  16  24.0  12  29   AB
13        14  SCOA14                 GOYAL SURAJ MANOJ  16  19.0   9  13   10
14        15  SCOA15              DHAWNE DEVANG GANESH  18  21.0  12  12   13
15        16  SCOA16              SHELKE GAURAV GIRISH  20  19.0  12   9   16
16        17  SCOA17           KHATAL NANDINI RAJENDRA  12   NaN   5   7   AB
17        18  SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24.0  19  28   17
18        19  SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23.0   7  14   14
19        20  SCOA20                VIDULA VIKAS PATIL  20  24.0  16  26   20
20        21  SCOA21           BHONGALE OMKAR MADHUKAR  22  17.0  19  10   13

    Gender
0        1
1        0
2        1
3        1
4        1
5        0
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       1
18       1
19       1
20       0

In [54]:
# d= d[d['DM']>=20]
# print(d)

In [55]:
# d= d['DM']>=20
# print(d)

In [58]:
d.drop(['Gender'],axis=1)

    Sr.\nno. Roll No               Name of the Student  DM   FDS OOP  CG DELD
0          1  SCOA01                     ALISHA SHEIKH  24  27.0  20  15   16
1          2  SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9.0   9  AB   AB
2          3  SCOA03                SHELAR NEHA NILESH  20  23.0  16  15   15
3          4  SCOA04                       RIYA JAWALE  18  14.0  11   8   15
4          5  SCOA05             NARHE VARSHA RAOSAHEB  20  24.0  16  24   20
5          6  SCOA06           BHUTDA MAHESH SHANTILAL  20   9.0  AB   0   AB
6          7  SCOA07              JAGTAP HARISH YUVRAJ  22  18.0   3  16    7
7          8  SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20.0  19  16   23
8          9  SCOA09              DARWEY RUDRA GUNWANT  22  12.0   9  15    7
9         10  SCOA10                ERANDE TEJAS DIPAK  24  18.0  11  23   AB
10        11  SCOA11             TRIPATHI VIKALP VIKAS  18  13.0   7  18   10
11        12  SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23.0  24  21   AB
12        13  SCOA13              MUNGASE SARTHAK ANIL  16  24.0  12  29   AB
13        14  SCOA14                 GOYAL SURAJ MANOJ  16  19.0   9  13   10
14        15  SCOA15              DHAWNE DEVANG GANESH  18  21.0  12  12   13
15        16  SCOA16              SHELKE GAURAV GIRISH  20  19.0  12   9   16
16        17  SCOA17           KHATAL NANDINI RAJENDRA  12   NaN   5   7   AB
17        18  SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24.0  19  28   17
18        19  SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23.0   7  14   14
19        20  SCOA20                VIDULA VIKAS PATIL  20  24.0  16  26   20
20        21  SCOA21           BHONGALE OMKAR MADHUKAR  22  17.0  19  10   13

    Sr.\nno. Roll No               Name of the Student  DM   FDS OOP  CG DELD  \
0          1  SCOA01                     ALISHA SHEIKH  24  27.0  20  15   16
1          2  SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9.0   9  AB   AB
2          3  SCOA03                SHELAR NEHA NILESH  20  23.0  16  15   15
3          4  SCOA04                       RIYA JAWALE  18  14.0  11   8   15
4          5  SCOA05             NARHE VARSHA RAOSAHEB  20  24.0  16  24   20
5          6  SCOA06           BHUTDA MAHESH SHANTILAL  20   9.0  AB   0   AB
6          7  SCOA07              JAGTAP HARISH YUVRAJ  22  18.0   3  16    7
7          8  SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20.0  19  16   23
8          9  SCOA09              DARWEY RUDRA GUNWANT  22  12.0   9  15    7
9         10  SCOA10                ERANDE TEJAS DIPAK  24  18.0  11  23   AB
10        11  SCOA11             TRIPATHI VIKALP VIKAS  18  13.0   7  18   10
11        12  SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23.0  24  21   AB
12        13  SCOA13              MUNGASE SARTHAK ANIL  16  24.0  12  29   AB
13        14  SCOA14                 GOYAL SURAJ MANOJ  16  19.0   9  13   10
14        15  SCOA15              DHAWNE DEVANG GANESH  18  21.0  12  12   13
15        16  SCOA16              SHELKE GAURAV GIRISH  20  19.0  12   9   16
16        17  SCOA17           KHATAL NANDINI RAJENDRA  12   NaN   5   7   AB
17        18  SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24.0  19  28   17
18        19  SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23.0   7  14   14
19        20  SCOA20                VIDULA VIKAS PATIL  20  24.0  16  26   20
20        21  SCOA21           BHONGALE OMKAR MADHUKAR  22  17.0  19  10   13

    Gender
0        1
1        0
2        1
3        1
4        1
5        0
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       1
18       1
19       1
20       0